@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.expertise-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  .company-date {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;

    .company {
      @include secondary-title;
    }

    .date {
      color: $light-text;
      min-height: 20px;
    }
  }

  .job-description {
    width: 78%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .job-title {
      @include secondary-title;
    }

    .job-desc {
      @include main-text;
    }
  }
}

@media only screen and (max-width: 600px) {
  .expertise-container {
    .experience-item {
      flex-direction: column;

      .company-date {
        width: 100%;
        align-items: flex-start;

        .company {
          font-size: 18px;
          min-height: 50px;
        }

        .date {
          font-size: 14px;
        }
      }

      .job-description {
        width: 100%;

        .job-title {
          font-size: 18px;
        }

        .job-desc {
          font-size: 14px;
        }
      }
    }
  }
}
