@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;

  .avatar {
    img {
      max-width: 100%;
      width: 163px;
      height: 163px;
      border-radius: 50%;
      margin-bottom: 20px;
    }
  }

  .info {
    h2 {
      color: white;
      font-weight: 700;
      padding: 0;

      &.large {
        font-size: 45px;
        min-height: 60px;
      }

      &.small {
        font-size: 16px;
      }
    }

    h3 {
      @include job-title;
    }

    p {
      @include main-text;
      color: white;
      max-width: 600px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .box {
    .avatar {
      img {
        width: 100px;
        height: 100px;
      }
    }

    .info {
      h2.large {
        font-size: 30px;
        min-height: 40px;
      }

      h2.small {
        font-size: 14px;
      }

      p {
        max-width: 100%;
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 432px) {
  .box {
    .info {
      h2.large {
        font-size: 21px;
        min-height: 40px;
      }

      h2.small {
        font-size: 14px;
      }

      h3 {
        font-size: 16px;
      }

      p {
        max-width: 100%;
        font-size: 14px;
      }
    }
  }
}
