@import "../../assets/styles/variables";

.feedback-list {
  width: 100%;
  padding: 0;

  .feedback-item {
    padding: 0;
    margin-bottom: 40px;

    .feedback-reporter {
      display: flex;
      align-items: center;
      justify-content: baseline;
      padding-top: 20px;
      .reporter-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .reporter-name {
        font-weight: bold;
        margin-right: 10px;
        min-height: 19px;
      }

      .reporter-cite {
        font-size: 12px;
        color: $primary-color;
        text-decoration: none;
        min-height: 15px;
        transition: all 0.3s;

        &:hover {
          color: $main-text;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .feedback-list {
    .feedback-item {
      .feedback-reporter {
        flex-direction: column;
        align-items: flex-start;

        .reporter-photo {
          width: 30px;
          height: 30px;
        }

        .reporter-name {
          margin-right: 0;
          margin-bottom: 5px;
        }

        .reporter-cite {
          font-size: 10px;
        }
      }
    }
  }
}
