@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.inner-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  max-width:90%;

  .panel-container {
    width: 15%;
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s linear;

    &.minimized {
      width: 5%;
      min-width: 50px;
    }
  }

  .inner-container {
    width: 75%;
    padding-left: 290px;
    transition: all 0.3s linear;

    &.minimized {
      width: 90%;
      padding-left: 120px;
    }

    &.minimized.hidden {
      width: 100%;
      padding-left: 10px;
    }

    .box-container {
      margin-bottom: 50px;
    }
  }

  .minimize-panel {
    @include CallToActionBtn;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    position: fixed;
    top: 10px;
    left: 220px;
    cursor: pointer;
    z-index: 1000;

    &:hover {
      color: $primary-color;
    }

    &.minimized {
      left: 70px;
    }

    &.minimized.hidden {
      left: 0;
    }
  }

  .scroll-to-top-btn {
    @include CallToActionBtn;
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 1000;
    transition: all 0.3s ease;

    &:hover {
      svg {
        color: $primary-color;
      }
    }
  }
}

@media (max-width: 1450px) {
  .inner-wrapper {
    .minimize-panel {
      left: 170px;
    }
  }
}

@media (max-width: 1100px) {
  .inner-wrapper {
    width: 80%;
    margin: 0 auto;

    .inner-container {
      &.minimized {
        padding-left: 0;
      }

      .box-container {
        width: 90%;
        margin: 0 auto;
      }
    }

    .minimize-panel {
      left: 150px;
    }
  }
}

@media (max-width: 900px) {
  .inner-wrapper {
    .minimize-panel {
      &.minimized {
        left: 50px;
      }
    }
  }
}

@media (max-width: 450px) {
  .inner-wrapper {
    width: 90%;
    margin: 0 auto;

    .inner-container {
      &.minimized {
        padding-left: 50px;
      }
    }
  }
}
