@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.skills-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width:970px;

  .scale{
    margin-top: 20px;
    max-width: 100%;

    .levels{
      display: flex;
      justify-content: space-between;
      align-items: center;

      span{
        font-size: 12px;
        line-height: 14px;
        color:$light-text;
      }

      .basic{
         width:25%;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }

      .advanced{
        width:25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  .open-edit-btn {
    align-self: flex-end;
    margin-bottom: 10px;
  }

  .skill-item {
    margin-bottom: 10px;

    .skill-bar {
      height: 30px;
      position: relative;

      .skill-name {
        font-size: 16px;
        position: absolute;
        top: 5px;
        left: 15px;
        color: white;
        font-weight: 400;
      }

      .skill-range {
        height: 100%;
        background-color: $primary-color;
      }
    }
  }

  button {
    @include button(white, $dark-background);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $primary-color;
    }

    &:disabled {
      background-color: $light-text;
      color: $dark-background;
      cursor: not-allowed;
    }
  }

  form {
    margin: 20px 0;
    border: 2px solid $primary-color;
    border-radius: 5px;
    padding: 50px;

    .form-group {
      margin-bottom: 20px;
      width: 50%;

      label {
        margin-right: 20px;
      }

      input {
        padding: 10px;
        width: 50%;
        font-size: 16px;
        border: 1px solid $gray-background;
        border-radius: 4px;
        transition: border 0.3s ease;

        &:focus {
          border-color: $dark-background;
        }
      }

      .error {
        color: red;
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }
}

@media (max-width:600px){
  .skills-container{

    .open-edit-btn{
      width:90px;
      height:40px;
      padding:5px, 10px;
      margin-bottom: 20px;
    }
    .scale{
      display:none;
    }

    form{
      padding:30px;
      .form-group{
       width:100%;

       input{
        max-width:100%;
       }
      }
    }
  }
}
