@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .contact-item {
    @include secondary-title;
    display: flex;
    align-items: center;
    gap: 25px;
    text-decoration: none;
    min-height: 60px;

    svg {
      width: 20px;
      height: 20px;
      color: $primary-color;
    }

    .social {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;

      & span:first-child {
        font-weight: 700;
        min-height: 20px;
      }

      & span:last-child {
        font-weight: 400;
        font-size: 16px;
        min-height: 20px;
      }
    }
  }

  .social-address:hover {
    color: $primary-color;
  }
}
