@import 'variables.scss';

@mixin job-title {
    color:white;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    min-height:40px;
}

@mixin button($color, $background){
    width:127px;
    height:40px;
    border-radius:5px;
    border:none;
    padding:10px, 20px, 10px, 20px;
    background-color:$background;
    color:$color;
    font-weight: 400;
    cursor: pointer;
}

@mixin CallToActionBtn(){
    background-color:$dark-background; 
        color: #fff;
        border: none;
        padding: 7px 10px;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        cursor: pointer;
}

@mixin main-text {
    font-weight: 400;
    line-height: 21px;
    font-size:14px;
    color: $main-text;
    font-family: $font;
}

@mixin main-title {
    font-weight: 700;
    font-size:25px;
    line-height: 30px;
    min-height:40px;
    color:$primary-color;
    padding:30px 0;
}

@mixin secondary-title {
    font-weight: 700;
    font-size: 16px;
    min-height: 40px;
    color:$main-text;
}
  