@font-face {
    font-family: 'Open Sans';
    src: url('../../../public/fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('ttf');
}


$primary-color: #26C17E;
$text-background: #EEEEEE;
$gray-background: #DDDDDD;
$dark-background: #222935;
$light-text: #667081;
$main-text: #222935;
$font:'Open Sans', sans-serif;

