@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.panel {
  background-color: $dark-background;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  .full-content {
    display: flex;
    flex-direction: column;
    padding: 10px 0;

    button {
      @include button(white, transparent);
      transform: translate(30%);
      transition: all 0.3s;

      svg {
        margin-right: 5px;
      }

      &:hover {
        background-color: $primary-color;
      }
    }
  }

  .icons {
    .avatar {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-top: 20px;
      }
    }

    button {
      @include button(white, transparent);
      width: 50px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.3s;

      &:hover {
        background-color: $primary-color;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .panel {
    .full-content,
    .icons {
      button {
        padding-left: 10px;
      }
    }
  }
}
