@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.navigation {
  background-color: $dark-background;
  display: flex;
  flex-direction: column;
  padding: 20px 5px;

  .navigation-item {
    color: $light-text;
    padding: 10px 20px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      color: $primary-color;

      svg {
        color: $primary-color;
      }
    }

    &.active {
      color: $primary-color;

      svg {
        color: $primary-color;
      }
    }

    svg {
      margin-right: 20px;
      color: inherit;
    }
  }
}

@media only screen and (max-width: 900px) {
  .navigation {
    padding: 30px 0;

    .navigation-item {
      padding: 8px 15px;
      margin-bottom: 20px;

      svg {
        margin-right: 10px;
      }
    }
  }
}
