@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.portfolio {
  .portfolio-tabs {
    display: flex;
    margin-bottom: 20px;

    button {
      border: none;
      color: $primary-color;
      background-color: transparent;
      cursor: pointer;
      transition: background-color 0.3s;

      &.active {
        color: $main-text;
      }

      &:hover {
        color: $main-text;
      }
    }
  }

  .portfolio-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .portfolio-item {
      position: relative;
      width: 308px;
      border: 1px solid #eee;
      padding: 10px;

      img {
        width: 100%;
        height: auto;
      }

      .portfolio-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px 30px;
        background: rgba(255, 255, 255, 0.8);
        opacity: 0;
        transition: opacity 0.3s ease;
        cursor: pointer;

        h4,
        p {
          margin: 0;
          min-height: 20px;
        }

        h4 {
          color: $primary-color;
          font-weight: 700;
          font-size: 16px;
        }

        p {
          font-size: 14px;
          min-height: 50px;
          line-height: 19px;
          color: $main-text;
        }

        a {
          color: $primary-color;
          min-height: 20px;
          font-size: 14px;
          transition: all 0.3s;

          &:hover {
            color: $main-text;
          }
        }
      }
      &:hover .portfolio-overlay {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .portfolio {
    .portfolio-content {
      justify-content: space-around;

      .portfolio-item {
        max-width: 250px;
        width: 100%;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
