@import "../../assets/styles/variables";

.timeline-container {
  height: 40vh;
  max-height: 80vh;
  overflow-y: auto;

  .timeline-event {
    display: flex;
    padding: 10px;

    .date-container {
      width: 80px;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .timeline-date{
        font-weight: bold;
        margin-bottom: 10px;
      }
    
    }

    .timeline-content {
      flex: 1;
      padding-top: 20px;

      .timeline-title {
        font-size: 1.2em;
      }

      .timeline-text {
        margin-top: 10px;
      }
    }
  }

  .loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      animation: spin 1s linear infinite;
      color: $primary-color;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;

    p {
      color: red;
    }
  }
}

@media only screen and (max-width: 600px) {
  .timeline-container {
    height: auto;
    max-height: none;

    .timeline-event {
      flex-direction: column;
  
      .date-container{
  
        img{
          display: none;
        }
  
        .timeline-date {
          width: 100%;
          font-size: 14px;
          margin-bottom: 10px;
          min-height: 30px;
        }
  
      }
  
     
  
      .timeline-content {
        padding-top: 0;

        .gray{
          h3{
            font-size: 18px;
          }
        }
        .timeline-title {
          font-size: 14px;
          min-height: 300px;
        }
      }
  }

  }
}
