@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

#info {
  padding: 15px;
  h3 {
    @include secondary-title;
  }

  p {
    @include main-text;
    font-family: $font;
  }
}

.gray {
  background-color: $gray-background;
}

.white {
  background-color: #fff;
}

@media only screen and (max-width: 600px) {
  #info {
    padding: 10px;
    overflow-y: auto;

    h3 {
      font-size: 18px;
      min-height: 20px;
    }

    p {
      font-size: 14px;
    }
  }
}
