@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.home-container {
  max-width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background-image: url("../../../public/assets/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;

    button {
      @include button(white, $dark-background);
      margin-top: 10px;
      transition: all 0.3s;

      &:hover {
        background-color: $primary-color;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home-container .content {
    padding: 100px 20px;
    justify-content: flex-start;
  }
}
